@page
@model AspNetCoreIdentityClient.Pages.Account.FrontChannelLogoutModel
@{
    ViewData["Title"] = "FrontChannelLogout";
    var id_token = Model.IdToken;
    var endSessionUrl = Model.EndSessionUrl;
}

<h2>@id_token</h2>

<iframe  src="@endSessionUrl"></iframe>

@section Scripts {
    <script>

        function doRedirect() {
            window.location.replace("/Index");
        }
      //  setTimeout(doRedirect, 5000);
    </script>
}