@model List<Models.ApiResource>
<h3>API Resources</h3>
<ul class="list-group">
    @foreach (var item in Model)
    {
        var url = $"/ApiResources/{item.Name}";
    <a href="@url" class="list-group-item list-group-item-action  ">@item.Name</a>
    }
</ul>


 
