@model List<string>
<h3>Clients</h3>
 
<ul class="list-group">
    @foreach (var clientId in Model)
    {
        var url = $"/Clients/{clientId}";
        <a href="@url" class="list-group-item list-group-item-action  ">@clientId</a>
    }
</ul>