@model Westwind.AspNetCore.Markdown.MarkdownModel
@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}
<div class="markdown-page">
    @Model.RenderedMarkdown
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
        setTimeout(function () {
            var pres = document.querySelectorAll("pre>code");
            for (var i = 0; i < pres.length; i++) {
                hljs.highlightBlock(pres[i]);
            }
        });
  
        $("thead").addClass( "thead-light" );
        $("table").addClass("table-bordered");
        
    </script>
}
@section StyleHead
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css" rel="stylesheet" />
    <link href="~/css/markdown-page-template.css" rel="stylesheet">
}
