@using Microsoft.AspNetCore.Html
@using Westwind.AspNetCore.Markdown
@model ViewComponents.ApiViewComponentModel
 
<div>
    @if (Model != null && Model.ApiResource != null)
    {
    <h3 id="client">@Model.ApiResource.Name</h3>
    <div class="table-responsive">
        <table class="table table-bordered ">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Value(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@nameof(Model.ApiResource.Enabled)</td>
                <td>@Model.ApiResource.Enabled</td>
            </tr>
            @if (Model.ApiResource.Scopes != null)
            {
                foreach (var item in Model.ApiResource.Scopes)
                {
                    <tr>
                        <td>scope</td>
                        <td>@item.Name</td>
                    </tr>

                }

            }
            </tbody>
        </table>
    </div>

   }
</div>

