@page "{clientId?}"
@model ClientsModel
@{
    ViewData["Title"] = "Clients";
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar3 col-sm-3 ">
            <vc:clients></vc:clients>
        </div>
        <div class="main2 col-sm-8 ">
            <vc:client id="@Model.ClientId"></vc:client>
        </div>
    </div>
</div>


@section StyleHead
    {
    <link rel="stylesheet" href="~/css/sidebar.css" />

}
