@page "{clientId?}"
@model ClientsModel
@{
    ViewData["Title"] = "Clients";
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar3 col-sm-3 ">
            @await  Component.InvokeAsync("Clients")
        </div>
        <div class="main2 col-sm-8 ">
            @await Component.InvokeAsync("Client", new { id = Model.ClientId })
        </div>
    </div>
</div>


@section StyleHead
    {
    <link rel="stylesheet" href="~/css/sidebar.css" />

}
