@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>The Fighting Nudibranch</h2>
                <p>
                    <h2><small>An OAuth2 Token Service</small></h2>
                </p>
                <p><a href="/.well-known/openid-configuration" class="btn btn-primary btn-lg">Discovery Endpoint &raquo;</a></p>
                <p><a href="/swagger" class="btn btn-primary btn-lg">Swagger UI &raquo;</a></p>
            </div>
            <div class="col-sm-4     hidden-xs  ">
                <img class="jumbotron-img" src="~/images/nudibranch2.png" height="142" />
            </div>
        </div>
    </div>
</div>


<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <h2>Application uses</h2>
            <ul>
                <li><a href="/docs/pass-a-jwt-around.md">Passing a Simple JWT Around</a></li>
                <li><a href="/docs/managing-token-lifetimes.md">Managing the lifetimes of a token</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>How to</h2>
            <ul>
                <li><a href="/docs/arbitrary_resource_owner.md">Mint a custom resource owner token.</a></li>
                <li><a href="/docs/arbitrary_no_subject.md">Mint a custom no subject token.</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Configuration</h2>
            <ul>
                <li><a href="/docs/api-configuration.md">API Configuration</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>System Information</h2>
            <ul>
                <li><a href="/health">Health</a></li>
                <li><a href="/docs/credits.md">Credits</a></li>
            </ul>
        </div>

    </div>

</div>
 

@section StyleHead
    {
    <!-- Custom styles for this template -->
    <link href="~/css/jumbotron.css" rel="stylesheet">
}
